.rw-conversation-container .rw-response{

    background-color: #0f82ff;
    color: #ffffff;
    border-radius: 0px 41.5946px 41.5946px 41.59px;;
    font-weight: 500;
    font-size: 28.587px;
    line-height: 158.5%;
}
.rw-conversation-container .rw-client{
    background-color: #001835;
    color: #ffffff;
    border-radius: 41.59px 41.5946px 0px;
    font-weight: 500;
    font-size: 28.587px;
    line-height: 158.5%;
    
}

.rw-conversation-container{
    box-shadow: none;

    border-radius: 12px;

}


.rw-conversation-container .rw-send{
    background: #f7f7f7;
    border: 0;
    margin-right: 150px;
}

/* .rw-widget-embedded{
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    position: relative;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    z-index: 1;
    display: flex;
    flex-direction: column;
} */


.button-chat{

    float: right;
    padding: 12px;
    border-radius: 6px;
    width: 8rem;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 700;
    /* color: whitesmoke; */
    background: white;
    bottom: 52px;
    position: relative;
    z-index: 1;
    margin-right: 6px;
}

