.image-upload.center {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  height: inherit;
}

.image-upload__preview {
  /* width: 58px; */
  width: 94%;
  height: inherit;
  /* height: 54px; */
  border: 1px solid #cc7d7d;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin-bottom: 1rem; */
  font-size: 12px;
  /* border-radius: 36px; */
}



.image-upload__onprofile{
  width: 94%;
  height: inherit;
  /* height: 54px; */
  /* border: 1px solid #cc7d7d; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin-bottom: 1rem; */
  font-size: 12px;
}

.image-upload__onprofile p {
  border: 2px dashed #000000;
  border-radius: 10px;
}



.image-upload__onprofile img {
  width: 6rem;
  height: 6rem;
  /* width: 6rem; */
    height: 6rem;
    padding: 6px;
    border: 2px solid #3791d0;
    border-radius: 42px;
}


.image-upload__preview img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  object-fit: scale-down;
}

.form-control {
  margin: 4px 0;
  height: inherit;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-control input,
.form-control textarea {
  width: 100%;
  font: inherit;
  border: 1px solid #ccc;
  background: #f8f8f8;
  padding: 0.15rem 0.25rem;
}

.form-control input:focus,
.form-control textarea:focus {
  outline: none;
  background: #ebebeb;
  border-color: #510077;
}

.form-control--invalid label,
.form-control--invalid p {
  color: red;
}

.form-control--invalid input,
.form-control--invalid textarea {
  border-color: red;
  background: #ffd1d1;
}


.place-item__actions {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ccc;
}

.place-item__modal-content {
  padding: 0;
}


.edit_form{
  border: 2px dashed blue !important;
}

.edit_icon{
  width: 30px !important;
  height: 28px !important;
  color:#000000;
}

.edit_icon_active{
  color: blue !important;
}